%header.navbar.navbar-fixed-top.navbar-inverse
  %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
    %div.nav-container
      %div.navbar-header
        %button.navbar-toggle{'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle'=> 'collapse', type: 'button'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = image_tag 'small_logo.png'
        = link_to 'Price monitor', root_url, class: 'navbar-brand'
      %div.collapse.navbar-collapse.navbar-right#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          - if current_user
            %li
              = link_to 'My trackings', deals_path
            %li.dropdown
              %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
                Account
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Profile', '#'
                %li
                  = link_to 'Settings', '#'
                %li.divider
                %li
                  = link_to 'Log out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Log in', new_user_session_path
            %li
              = link_to 'Sign up', new_user_registration_path

